// This file is part of www.nand2tetris.org
// and the book "The Elements of Computing Systems"
// by Nisan and Schocken, MIT Press.
// File name: projects/07/MemoryAccess/BasicTest/BasicTest.vm

// Executes pop & push commands using the virtual memory segments.
push constant 10
pop local 0
push constant 21
push constant 22
pop argument 2
pop argument 1
push constant 36
pop this 6
push constant 42
push constant 45
pop that 5
pop that 2
push constant 510
pop temp 6
push local 0
push that 5
add
push argument 1
sub
push this 6
push this 6
add
sub
push temp 6
add

//by hand first couple
//push constant 10 (got that already)
//pop local 0

//pop the top thing and store it in D
// @SP
// M=M-1
// A=M
// D=M

// //first pass a constant (arg2) in bc we need to add it to the base address
// @0
// D=A

// //then set the value of @local to the a register
// @local
// A=M

// //THEN really set that address to a+d
// A=A+D

// //OK:

// @0     //replace num with num passed in
// D=A
// @LCL   //replace symbol with translated symbol
// A=M
// D=A+D  //calculate actual pointer
// @R13
// M=D    //now pointer is stored in r13

// @SP
// M=M-1  //decrement
// A=M
// D=M    //now d is the popped value
// @R13
// A=M
// M=D

// @0     //replace num with num passed in
// D=A
// @5   //replace 5 with 3 if pointer, this is temp
// D=A+D
// @R13
// M=D    //now pointer is stored in r13






